@import "src/app/app.component.scss";

.log-in-square{
  @include square;
  width: 400px;
  height:360px;
  margin: auto;
}
.container{
  padding-top: 14%;
}

.log-in-header{
  @include header
}
.alreadyExists{
  color: red;
  margin: 0px;
}
label{
  font-family: "Sitka Small";
}
input{
  margin-bottom:10px;
}

.RegisterTip{
  margin:0;
  cursor: pointer;
  color: 	#0645AD;
  text-underline: 	#0645AD;
}
