@import "src/app/app.component.scss";

.background{
  width:100%;
  height: calc(100% - 60px);
  background-image: url('/assets/crimsonvow.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position: fixed;
}

.itemsContainer{
  margin:auto;
  padding-top: 7%;
  width: 80%;
  height: calc(100% - 30px);
}
.header{
  @include header;
  margin-top: 30px;
  font-size: 50px;
  margin-bottom: 10px;
}

.shoppingcart{
  @include square;
  width: 800px;
  margin: auto;
  overflow-y: scroll;
  height:70%;
}


.shoppingcart::-webkit-scrollbar {
  display: none;
}

.class{
  width: 100px;
  height: 100px;
}

.product{
  height: 100px;
}
.productbox{
  display: flex;
  height:100px;
}


.price{
  width: 100px;
  font-size: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
}

.itemList{
  row-gap: 40px;
}

.totalPrice{
  width: 100px;
  font-size: 30px;
  margin-left: 0;
  margin-bottom:  auto;
  margin-right:30px;
}
.pricebox{
  display: flex;
  height: 100px;
}
.priceheader{
  font-size: 30px;
  margin: auto;
  width: 100px;
}
.productheader{
  width: 100px;
  font-size: 30px;
  margin: auto;
}

.placeholder{
  width:100px;
}

.clearShoppingCart{
  padding:10px;
  background: #811414;
  color: white;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  width: 200px;
}

.order{
  padding:10px;
  background: #811414;
  color: white;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  width: 200px;
}

.notOrder{
  padding:10px;
  background: grey;
  color: black;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  width: 200px;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
}

.error{
  font-size: 40px;
}
