@import "src/app/app.component.scss";

.log-in-square{
  width: 400px;
  height:400px;
  margin: auto;
  @include square;
}

.item-list-square{
  width: 800px;
  height:400px;
  margin: auto;
  @include square;
  overflow-y: scroll;
}

.edit{
  margin: auto 20px;
  padding:0px;
  width:60px;
  height:40px;
}
.item-list-square .price{
  margin:auto;
}

.orderContainer{
  width: 800px;
  height:400px;
  @include square;
  overflow-y: scroll;
}

.container{
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 40px;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
  row-gap: 50px;
}

.log-in-header{
  @include header;
}

label{
  font-family: "Sitka Small";
}
input{
  margin-bottom:10px;
}

.preview{
  height:100px;
}

.orderList{
  padding-left: 0;
  margin-left: 20px;
  row-gap: 20px;
}

.order{
  padding-left: 0;
  display: flex;
  height:60px;
  column-gap: 14px;
}

.price{
  width: 90px;
  font-size: 25px;
  font-family: "Sitka Small";
}

.username{
  font-size: 20px;
  font-family: "Sitka Small";
  margin-top: 15px;
  width: 400px;
}

@mixin text{
  font-size: 18px;
  font-family: "Sitka Small";
  margin-top: 15px;
}

.id{
  @include text;
  width: 60px;
}
.price{
  @include text;
  width: 80px;
}

.username{
  @include text;
  width: 250px;
}
.username{
  @include text;
  width: 250px;
}
.products{
  @include text;
  width: 100px;
}

.select{
  height:30px;
  margin-top: auto;
  margin-bottom: auto;
}

.orderHeader{
  padding-left: 0;
  display: flex;
  height:70px;
  column-gap: 14px;
  background: grey;
  border-radius: 10px;
  width:97%;
}


.pop-out{
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  height:600px;
  @include square;
  top:250px;
  overflow-y: scroll;
}

.shoppingcart{
  @include square;
  width: 800px;
  margin: auto;
  overflow-y: scroll;
  height:800px;
}

.product{
  height: 100px;
}
.productbox{
  display: flex;
  height:100px;
}

.productheader{
  font-size: 30px;
  margin: auto;
  width:400px
}

button{
  padding:10px;
  background: #811414;
  color: white;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}
.closeButton{
  margin-bottom: 20px;
}
.product{
  height:100px;
  max-width: 100px;
  object-fit: contain;
}

.pop-out::-webkit-scrollbar {
  display: none;
}

.orderContainer::-webkit-scrollbar {
  display: none;
}
.item-list-square::-webkit-scrollbar {
  display: none;
}

.order{
  border-bottom: grey solid;
  width: 97%;
}

.order:last-child{
  width: 97%;
}


select{
  height: 20px;
}

.header{
  font-size: 40px;
}

.background{
  height: auto;
  min-height: calc(100% - 60px);
}
