.background{
  width:100%;
  height: calc(100% - 60px);
  background-image: url('/assets/crimsonvow.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position: fixed;

}
.product{
  height:180px;
}
.itemsContainer{
  margin:auto;
  padding-top: 4%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  overflow-y:auto;
  height: 100%;
}
.button{
  padding:10px;
  background: #811414;
  color: white;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  bottom:0;
  width: 80%;
  margin: auto;
  align-self: center;
  cursor:pointer;
}

.itemContainer{
  width: 240px;
  height:333px;
  padding: 0;
  margin:0;
  background: white;
  border-radius: 15px;
  border: solid darkred;
  text-align: center;
  box-shadow: 0 0 3px darkred, 0 0 5px darkred;
  flex: 0 220px 0;
}

::-webkit-scrollbar {
  display: none;
}

.productheader{
  color:black;
  font-size: 30px;
  font-weight: bold;
  margin:0px;
  height: 60px;
}
